<br><br>


<img class="about" src="http://static1.squarespace.com/static/567458eda128e6372f9c1656/t/571f6a794c2f858e510a5741/1461676751036/?format=750w" alt="Book Up Team" >

<br>
<h3 id="h3">We never go out of style.css</h3>
<br>

<p>Book Up was created in July of 2015 by Katherine Thai (middle), Alayna Herbst, and Lydia Herbst, a 2015 Kode with Klossy Scholar. The three met at Flatiron School’s Precollege Intro to Software Engineering Course in New York City. By the end of the two-week course, both an incredible friendship and web app were born. Katherine has gone on to complete the Learn Verified program. As book lovers themselves, Katherine, Alayna, and Lydia aimed to create an app that would help readers choose books based on the content, rather than the format.</p>


<div class="buttons">
  <div id="contact">
    <h2 id="h2">Get in Touch</h2>
  </div>

  <br>

  <div class="btn-group">
    <div class="btn">
      <a href="https://twitter.com/kthai1618" id="submit">@kthai1618</a>
    </div>

    <div class="btn">
      <a href="https://twitter.com/alaynaherbst" id="submit">@AlaynaHerbst</a>
    </div>

    <div class="btn">
      <a href="https://twitter.com/lydiaherbst" id="submit">@LydiaHerbst</a>
    </div>
  </div>
</div>

<br><br><br>

