<input ng-model="search.title" placeholder="Search by title" autofocus/>
<input ng-model="search.author" placeholder="Search by author" autofocus/>
<input ng-model="search.genre" placeholder="Search by genre" autofocus/>


Sort by:

<a href="" ng-click="sorter='title'">Title</a> |
<a href="" ng-click="sorter='author'">Author</a> |
<a href="" ng-click="sorter='genre'">Genre</a> |

<table class="table">
  <tr>
    <td><h3>Title</h3></td>
    <td><h3>Author</h3></td>
    <td><h3>Genre</h3></td>
    <td><h3>Cover</h3></td>
    <td><h3>Amazon</h3></td>
    <td><h3>Edit</h3></td>
  </tr>
  <tr ng-repeat="book in books.data | filter: search | orderBy :sorter">
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.genre }}</td>
    <td><img id="small-cover" src="{{ book.img_link }}" alt="book cover"></td>
    <td><a href="{{ book.amazon_link }}">Link</a></td>
    <td><a href="/books/{{ book.id }}/edit">Edit</a></td>
  </tr>
</table>