<h2>Edit Book</h2>

<div class="container">
  <form name="editBook">
    <div class="form-group">
      <label for="title">Title</label>
      <input 
        type="text" 
        name="title"
        class="form-control" 
        id="title" 
        ng-model="editBook.book.title"
        required="required">

      <div ng-if="editBook.title.$touched && editBook.title.$error.required">
        Title is required!
      </div>
    </div>



    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" ng-model="editBook.book.author">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" ng-model="editBook.book.genre">
    </div>

    <div class="form-group">
      <label for="img_link">Image Link</label>
      <input type="text" class="form-control" id="img_link" ng-model="editBook.book.img_link">
    </div>

    <div class="form-group">
      <label for="amazon_link">Amazon Link</label>
      <input type="text" class="form-control" id="amazon_link" ng-model="editBook.book.amazon_link">
    </div>

    <div class="form-group">
      <label for="text">Text of first page</label>
      <textarea 
        class="form-control"
        name="text" 
        id="text" 
        ng-model="editBook.book.text"
        required="required"></textarea>
      <div ng-if="editBook.text.$touched && editBook.text.$error.required">
        Text is required!
      </div>
    </div>

    <div class="actions">
      <input ng-click="update(edit.data.id)" type="submit" id="submit" class="btn btn-default" value="Submit">
    </div>

  </form>

  <div ui-view></div>
</div>

