<h2 id="h2">Edit Book</h2>

<div class="container" id="editBook">
  <form name="editBook">
    <div class="form-group">
      <label for="title">Title</label>
      <input 
        type="text" 
        name="title"
        class="form-control" 
        id="title" 
        ng-model="book.title"
    </div>



    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" ng-model="book.author">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" ng-model="book.genre">
    </div>

    <div class="form-group">
      <label for="img_link">Image Link</label>
      <input type="text" class="form-control" id="img_link" ng-model="book.img_link">
    </div>

    <div class="form-group">
      <label for="amazon_link">Amazon Link</label>
      <input type="text" class="form-control" id="amazon_link" ng-model="book.amazon_link">
    </div>

    <div class="form-group">
      <label for="text">Text of first page</label>
      <textarea 
        class="form-control"
        name="text" 
        id="text" 
        ng-model="book.text"
        rows="8"></textarea>

    </div>
    <br>
    <div class="actions">
      <input ng-click="update(edit.data.id)" type="submit" id="submit" class="btn btn-default" value="Submit">
    </div>
  
  </form>
</div>
<br><br><br>


