<!DOCTYPE html>
<html>
<head>
  <title>AngularBookUp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', controller_name %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <a href="/"><h1>Book Up</h1></a>
  <a href="/#/about">About</a> - <a href="/#/books">Book me up!</a> - <a href="/#/add">Add Book</a> - <a href="/#/all">All Books</a>
  
  <%= yield %>

</body> 
</html>
